.bg-container {
  text-align: center;
  color: white;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.try-again-button {
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #3b82f6;
  font-size: 14px;
  border-width: 0px;
  color: white;
}
